absl-py==0.5.0
astor==0.7.1
atomicwrites==1.2.1
attrs==18.2.0
coverage==4.5.1
gast==0.2.0
grpcio==1.15.0
h5py==2.8.0
hypothesis==3.79.3
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
Markdown==3.0.1
more-itertools==4.3.0
mypy==0.641
mypy-extensions==0.4.1
numpy==1.15.2
pathlib2==2.3.2
pluggy==0.8.0
protobuf==3.6.1
py==1.7.0
pyflakes==2.0.0
pytest==3.9.2
pytest-cov==2.6.0
six==1.11.0
tensorboard==1.11.0
tensorflow==1.11.0
termcolor==1.1.0
typed-ast==1.1.0
Werkzeug==0.14.1
